
.card {
    background-color: black;
    display: table-caption;
    margin: 2rem 0 1rem;
    flex-basis: 45%;
    /*padding: 1.5rem; */  
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

  }

  .imageGame {
    width: 359px;
    height: 210px;
   /*  margin: 0 0 10px; */
    object-fit: contain;
    border-radius: 4%
  }
  .rectangle-buy {
   width: 113px; 
    height: 43px;
    /*margin: 15px 0 5px 65%; */
    border-radius: 4px;
    background-color: #2529d8;
    color: white;
    float: right;
    
  }

  .card-title{
    width: fit-content;
    height: 23px;
    margin: 10px 124px 0 0;
    
    font-size: 20px;
    /*font-weight: bold;
    font-family: TTNorms;
     */
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .card-price {
    width: 82px;
    margin: 0 164px 0 0;
    opacity: 0.6;
    /*font-family: TTNorms; */
    font-size: 15px;
   
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    float: left;
  }

  .container {
    padding: 0 ;
  }
  
  .bestsellers {
      padding-left: 1%;
      font-size: 16px;
      padding-left: 46px;
      margin-top: 5%;

  }

  .column {
    float: left;
    padding-left: 4%;
  }
  .awarded {
    padding-left: 5%;
    font-size: 13px;

  }

