/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
  .imageDetail{
    width: 473px;
    height: 473px;
    margin: 73px 3px 200px 130px;
    border-radius: 10px;
}
.titleGame{
    width: 351px;
    height: 85px;
    margin: 29px 14rem 0 130px;
    font-size: 72px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.info-price-install{
    width: 1559px;
    height: 130px;
    margin: 45px 178px 0 130px;
    padding: 32px 38px 0 45px;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: #24262e;
    color:white;
    font-size: 48px;
}
img.iconDetail {
    background-size: contain;
    width: 50px;
    height: auto;
    margin-left: 130px;
}
.rectangle-install{
    width: 213px;
    height: 66px;
    padding: 25px 31px 25px 30px;
    border-radius: 4px;
    background-color: #1d20cb;
    color: white;
    margin-left: 620px;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
  .imageDetail{
    width: 473px;
    height: 473px;
    margin: 73px 31px 200px 474px;
    border-radius: 10px;
}

.titleGame{
    width: 351px;
    height: 85px;
    margin: 29px 14rem 0 183px;
    font-size: 72px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.info-price-install{
    width: 1559px;
    height: 130px;
    margin: 45px 178px 0 183px;
    padding: 32px 38px 0 45px;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: #24262e;
    color:white;
    font-size: 48px;
}
img.iconDetail {
    background-size: contain;
    width: 50px;
    height: auto;
    margin-left: 183px;
}
.rectangle-install{
    width: 213px;
    height: 66px;
    padding: 25px 31px 25px 30px;
    border-radius: 4px;
    background-color: #1d20cb;
    color: white;
    float: right;
}
}
.containerDetail {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.titleGame{
    color:white;
}
.text {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    width: 608px;
    height: 396px;
    margin: 56px 334px 77px 31px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    color: #ffffff;
    float: right;
}
.imageBanner{   
    width: 1920px;
    height: 819px;
    object-fit: contain;
    background-image: radial-gradient(circle at 56% 54%, rgba(3, 6, 22, 0), #030616 67%), linear-gradient(to bottom, rgba(3, 6, 22, 0), rgba(3, 6, 22, 0.02) 5%, #030616 86%);
  }
.mainSection {
    background-color: black;
}
.new-release-tag{
    width: 66px;
    height: 11px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.infoGame{
display:flex;
}

